{% extends 'blog_app/base.html' %} {% block title %}Land {% endblock %}
<!--  -->
{% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
  >
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cXVhbGl0eXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        DJ Blog
      </h1>
      <p class="mb-8 leading-relaxed">
        “Words are pale shadows of forgotten names. As names have power, words
        have power. Words can light fires in the minds of men. Words can wring
        tears from the hardest hearts.” ― Patrick Rothfuss, The Name of the Wind
      </p>
      <div class="flex justify-center">
        <a
          href="{% url 'signup' %}"
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          Sign up
        </a>
        <a
          href="{% url 'login' %}"
          class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
