{% extends 'blog_app/base.html' %} {% block title %} Password reset confirm {%endblock%}
<!--  -->
{% block content %} 
<div class="md:w-1/2 sm:w-full  my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Reset password</h1>
    <form action="" method="post">
      {% csrf_token %}
      <!-- <div class="mb-3">
        <label class="inline-block mb-2">New Password</label><br />
        {{form.email}}
      </div>
      <div class="mb-3">
        <label class="inline-block mb-2">Confirm Password</label><br />
        {{form.password}}
      </div> -->
      {% for field in form %} 
      {{ field.label_tag }}
      {{field}}<br>
      {% if field.errors %}
      <small>{{ field.errors }}</small>
      {% endif %} {% endfor %}
      <!-- {% for field in form  %}
        {{field.label_tag}}
        {{field}}
        
        {% if field.errors %}
               <small>{{field.errors|striptags}}</small>
        {% endif %}
            
      {% endfor %} -->
      <div class="flex flex-wrap">
        <button type="submit"
        class=" px-8 py-4 rounded-xl text-white text-lg bg-teal-500 hover:bg-teal-700"
      >
        Reset Password
      </button>
      <!-- <a href="{% url 'login' %}"
        class="py-4 px-8 ml-auto rounded-xl text-slate text-lg bg-white border-red-500 border border-solid"
      >
        Cancel
      </a> -->
        </div>
      </div>
      
    </form>
  </div>
{%endblock%}
